:root {
	--dark-bg-color: #232323;
	--dark-bg-color-project: #555555;
	--dark-bg-color-project-opacity: rgba(60, 60, 60, 0.5);
	--dark-bg-color-project-opacity-hover: rgba(60, 60, 60, 0.35);
	--dark-color: #f1f1f1;
	--logo-bg: #f1f1f1;
	--logo-bg-hover: #c2c2c2;

	--space: 10px;
	--border-section: 25px;
	--logo-size: 30px;
	--padding-logo: 45px;

	--time-transition: 0.3s;

	--bg-shadow: rgba(0, 0, 0, 0.45) 0px 3px 6px, rgba(0, 0, 0, 0.65) 0px 3px 6px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	color: var(--dark-color);
	background-color: var(--dark-bg-color);
}

a {
	color: var(--dark-color);
	text-decoration: none;
}

/* PROJECTS - SKILLS */

#projects-container, #skill-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	gap: var(--space);
}

#projects-container a, #skill-a a {
	height: 100%;
}

#skill-section section, .dark-filter {
	padding: var(--space);
}

#projects-container section, #skill-section section, .dark-filter {
	border-radius: var(--border-section);
}

#projects-container section, #skill-section section {
	/*background-color: var(--dark-bg-color-project);*/
	margin: var(--space);
	box-shadow: var(--bg-shadow);
}

.partial-project-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.project-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#skills section {
	background-color: var(--dark-bg-color-project);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--logo-bg);

	height: calc(var(--padding-logo));
	width: calc(var(--padding-logo));
	transition: var(--time-transition);
}

.logo:hover {
	background-color: var(--logo-bg-hover);
}

.logo img {
	max-height: var(--logo-size);
	max-width: var(--logo-size);
}

#projects-container section {
	background-repeat: no-repeat;
	background-size: cover;
}

.dark-filter {
	display: flex;
	flex: 1 var(--padding-logo);
	background-color: var(--dark-bg-color-project-opacity);
	transition: var(--time-transition);
}

.dark-filter:hover {
	background-color: var(--dark-bg-color-project-opacity-hover);
}

#project-word {
	background-image: url(public/images/word.avif);
	background-position: top center;
}

#project-sharepoint {
	background-image: url(public/images/sharepoint.avif);
	background-position: center;
}

#project-registration {
	background-image: url(public/images/word.avif);
	background-position: top center;
}

#project-basic-explorer {
	background-image: url(public/images/diagram.avif);
	background-position: top center;
}

#projects aside {
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

.grid-logo-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--space);
	margin: var(--space);
}

#technology-container {
	display: grid;
	grid-template-columns: 4fr 1fr;
}

#technology-description {
	text-align: right;
}

footer {
	background-color: var(--dark-bg-color-project);
	text-align: center;
	padding: var(--space);
}
