:root {
	--pri-color: #FBA314; /* Yellow Orange */
	--sec-color: #173C54; /* Blue Dark */
	--thi-color: #2B928F; /* Green cyan */

	--pri-color-50:  #FFF1E8;
	--pri-color-100: #FFE0CA;
	--pri-color-200: #FEC38F;
	--pri-color-300: #FBA314;
	--pri-color-400: #D3880F;
	--pri-color-500: #B0710A;
	--pri-color-600: #8B5806;
	--pri-color-700: #6B4303;
	--pri-color-800: #492C02;
	--pri-color-900: #2D1901;
	--pri-color-950: #1C0E00;

	--sec-color-50:  #EDF4FD;
	--sec-color-100: #DAEAFB;
	--sec-color-200: #ADD3F7;
	--sec-color-300: #7EBFF3;
	--sec-color-400: #4DA8E4;
	--sec-color-500: #4292C6;
	--sec-color-600: #367AA7;
	--sec-color-700: #2D668B;
	--sec-color-800: #214F6E;
	--sec-color-900: #173C54;
	--sec-color-950: #0A2231;

	--thi-color-50:  #C8FEFC;
	--thi-color-100: #53FCF7;
	--thi-color-200: #47E1DC;
	--thi-color-300: #3DC9C2;
	--thi-color-400: #34ABA8;
	--thi-color-500: #2B928F;
	--thi-color-600: #207371;
	--thi-color-700: #165655;
	--thi-color-800: #0C3B3A;
	--thi-color-900: #042221;
	--thi-color-950: #021616;

	--whi-color-50:  #F3F3F4;
	--whi-color-100: #E5E5E7;
	--whi-color-200: #CECED2;
	--whi-color-300: #B6B6BA;
	--whi-color-400: #9D9DA4;
	--whi-color-500: #888890;
	--whi-color-600: #71717A;
	--whi-color-700: #54545E;
	--whi-color-800: #383840;
	--whi-color-900: #1F1F24;
	--whi-color-950: #131317;

	--bg-color: var(--whi-color-50);
	--bg-color-project: var(--pri-color-100);
	--bg-color-project-opacity: rgba(60, 60, 60, 0.25);
	--bg-color-project-opacity-hover: rgba(60, 60, 60, 0.15);
	--color-font: var(--sec-color-950);
	--logo-bg: #f1f1f1;
	--logo-bg-hover: #d9d9d9;
	--primary-color: #3b56d9;

	--space: 10px;
	--border-section: 4px;
	--logo-size: 30px;
	--padding-logo: 45px;
	--padding-section: 15px;

	--time-transition: 0.3s;

	--bg-shadow: rgba(0, 0, 0, 0.25) 0px 3px 6px, rgba(0, 0, 0, 0.45) 0px 3px 6px;
	--bg-logo: rgba(0, 0, 0, 0.25) 0px 3px 6px, rgba(0, 0, 0, 0.45) 0px 3px 6px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-font);
	background-color: var(--bg-color);
}

a {
	color: var(--color-font);
	text-decoration: none;
}

main {
	margin: var(--space);
}

header h1, header h2 {
	padding: var(--space);
}

header h2 {
	text-align: right;
}

.button-primary {
	background-color: var(--sec-color-500);
	padding: var(--space);
	border-radius: var(--border-section);
}

/* PROJECTS - SKILLS */

#skill-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	gap: var(--space);
}

#projects-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: (160px, auto);
	gap: var(--space);
}

#projects-container a, #skill-a a {
	height: 100%;
}

#skill-section section, .dark-filter-header, .dark-filter-hover {
	padding: var(--padding-section);
}

#projects-container section, #skill-section section, .dark-filter-hover {
	border-radius: var(--border-section);
}

#projects-container section, #skill-section section {
	box-shadow: var(--bg-shadow);
}

#projects-container section {
	height: 100%;
}

.partial-project-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.project-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#skills section {
	background-color: var(--bg-color-project);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--logo-bg);

	height: calc(var(--padding-logo));
	width: calc(var(--padding-logo));
	transition: var(--time-transition);
	box-shadow: var(--bg-logo);
}

.logo:hover {
	background-color: var(--logo-bg-hover);
}

.logo img {
	max-height: var(--logo-size);
	max-width: var(--logo-size);
}

#projects-container section {
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(0.2rem);
}

.dark-filter-header, .dark-filter-hover {
	display: flex;
	flex: 1 var(--padding-logo);
	background-color: var(--bg-color-project-opacity);
	backdrop-filter: blur(0.15rem);
	transition: var(--time-transition);
	height: 90%;
}

.background-blurred {
	height: 100%;
}

.dark-filter-hover:hover {
	background-color: var(--bg-color-project-opacity-hover);
	backdrop-filter: blur(0rem);
}

#project-word-container {
	grid-column: 1 / 3;
}

#project-word {
	background-image: url(public/images/word.avif);
	background-position: top center;
}

#project-sharepoint {
	background-image: url(public/images/sharepoint.avif);
	background-position: center;, 
}

#project-registration {
	background-image: url(public/images/registration.avif);
	background-position: top left;
	color: var(--whi-color-50);
}

#project-basic-explorer {
	background-image: url(public/images/diagram.avif);
	background-position: top center;
}

#project-basic-explorer-container {
	grid-column: 2 / 4;
}

#projects aside {
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

.grid-logo-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: fit-content;
	gap: var(--space);
	margin: var(--space);
}

#technology-description {
	text-align: right;
}

#technology-description a {
	text-decoration: underline;
}

#techno-section {
	display: grid;
	grid-template-columns: 4fr 1fr;
	align-items: center;
}

.left-part {
	display: flex;
	flex-direction: column;
}

footer {
	background-color: var(--bg-color-project);
	text-align: center;
	padding: var(--space);
}

/* PROJECT DETAIL */

.dark-filter-header {
	display: flex;
	flex-direction: column;
	height: 20vh;
}

.list-logo {
	display: flex;
	gap: var(--space);
}
