:root {
	/*--pri-color: #FBA314;
	 Yellow Orange */
	--sec-color: #173C54;
	/* Blue Dark */
	--pri-color: #2B928F;
	/* Green cyan */

	--pri-color-50: #C8FEFC;
	--pri-color-100: #53FCF7;
	--pri-color-200: #47E1DC;
	--pri-color-300: #3DC9C2;
	--pri-color-400: #34ABA8;
	--pri-color-500: #2B928F;
	--pri-color-600: #207371;
	--pri-color-700: #165655;
	--pri-color-800: #0C3B3A;
	--pri-color-900: #042221;
	--pri-color-950: #021616;

	--sec-color-50: #EDF4FD;
	--sec-color-100: #DAEAFB;
	--sec-color-200: #ADD3F7;
	--sec-color-300: #7EBFF3;
	--sec-color-400: #4DA8E4;
	--sec-color-500: #4292C6;
	--sec-color-600: #367AA7;
	--sec-color-700: #2D668B;
	--sec-color-800: #214F6E;
	--sec-color-900: #173C54;
	--sec-color-950: #0A2231;

	--whi-color-50: #F3F3F4;
	--whi-color-100: #E5E5E7;
	--whi-color-200: #CECED2;
	--whi-color-300: #B6B6BA;
	--whi-color-400: #9D9DA4;
	--whi-color-500: #888890;
	--whi-color-600: #71717A;
	--whi-color-700: #54545E;
	--whi-color-800: #383840;
	--whi-color-900: #1F1F24;
	--whi-color-950: #131317;

	--code-red: #ff3f4a;
	--code-green: #81f900;
	--code-yellow: #ffd945;

	--bg-color: var(--whi-color-50);
	--bg-color-project: var(--pri-color-300);
	--bg-color-project-opacity: rgba(60, 60, 60, 0.25);
	--bg-color-project-opacity-hover: rgba(60, 60, 60, 0.15);
	--color-font: var(--sec-color-950);
	--logo-bg: #f1f1f1;
	--logo-bg-hover: #d9d9d9;
	--primary-color: #3b56d9;

	--space: 50px;
	--space-gap: 20px;
	--space-logo: 10px;
	--space-button: 15px;
	--space-footer: 15px;
	--border-section: 15px;
	--logo-size: 35px;
	--logo-size-mobile: 40px;
	--padding-hero: 10vw;
	--padding-article: 45px;
	--padding-logo: 50px;
	--padding-logo-mobile: 55px;
	--padding-section: 15px;

	--font-size-h1: 3rem;
	--font-size-h2: 2.5rem;
	--font-size-h3: 2rem;
	--font-size-h4: 1.25rem;

	--time-transition: 0.3s;

	--bg-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px, rgba(0, 0, 0, 0.45) 0px 0px 8px;
	--bg-logo: rgba(0, 0, 0, 0.25) 0px 3px 6px, rgba(0, 0, 0, 0.45) 0px 3px 6px;

	--mobile-size: 550px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-font);
	background-color: var(--bg-color);
}

a {
	color: var(--color-font);
	text-decoration: none;
}

main article {
	padding: var(--padding-article);
	min-height: 500px
}

h1 {
	font-size: var(--font-size-h1);
	margin: 0;
}

h2 {
	font-size: var(--font-size-h2);
	margin: 0;
	font-weight: 400;
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

/* HEADER */

#hero-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 var(--padding-hero);
	height: 100vh;
	background: radial-gradient(at 0% 0%, var(--pri-color-300) 0%, var(--sec-color-50) 70%);
}

#hero-part-top {
	display: flex;
	justify-content: space-between;
}

#left-part-hero {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

#sub-left-part-hero {
	justify-content: start;
	padding-bottom: 30vh;
}

#right-part-hero {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 30vh;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
	justify-content: end;
}


.button-primary {
	background-color: var(--sec-color-300);
	padding: var(--space-button);
	border-radius: var(--space-button);
	cursor: pointer;
	text-align: center;
	box-shadow: 0px 0px 10px var(--sec-color-800);
}

/* CODE PART */

.code-block {
	font-family: "IBM Plex Mono", monospace;
	color: var(--whi-color-50);
	background-color: var(--sec-color-950);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 20px var(--sec-color-950);
	min-width: clamp(300px, 35vh ,600px);
}

.code-block p {
	margin: 0.5em;
}

.code-line {
	color: var(--whi-color-500);
}

.code-red {
	color: var(--code-red);
}

.code-green {
	color: var(--code-green);
}

.code-yellow {
	color: var(--code-yellow);
}

.code-line-cursor {
	display: inline-flex;
	align-items: center;
	margin-bottom: 0.5em;
}

.code-line-cursor p {
	margin: 0 0.5em;
}

.cursor {
	background-color: var(--sec-color-100);
	width: 0.15rem;
	height: 1.75rem;
	animation: blink 1s infinite;
}

@keyframes blink {

	40%,
	100% {
		background-color: var(--sec-color-100);
	}

	50%,
	90% {
		background-color: rgb(15 23 42);
	}
}

/* PROJECTS - SKILLS */

main article {
	background-color: var(--sec-color-50);
}

#projects-container,
#skill-container {
	display: grid;
	gap: var(--space-gap);
}

#projects-container {
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: (160px, auto);
}

#projects-list {
	display: flex;
	flex-direction: column;
	gap: var(--space-gap);
}

#project-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-column: 2/4;
	height: 100%;
}

#project-techno {
	align-self: flex-end;
}

#skill-container {
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
}

#skill-container ul {
	margin: 0;
}

#projects-container a,
#skill-a a {
	height: 100%;
}

#skill-container section,
.dark-filter-header,
.dark-filter-hover {
	padding: var(--padding-section);
}

#projects-container section,
#skill-container section,
.dark-filter-hover {
	border-radius: var(--border-section);
}

#projects-container section,
#skill-container section {
	box-shadow: var(--bg-shadow);
}

.partial-project-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#skills section {
	background-color: var(--bg-color-project);
}

#skill-container section h4 {
	margin-top: 0;
}

#projects-container section {
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(0.2rem);
}

.projects-list-item,
.projects-list-item h4,
.grid-logo-container .logo {
	cursor: pointer;
}

.dark-filter-hover {
	display: flex;
	flex: 1 var(--padding-logo);
	background-color: var(--sec-color-200);
	backdrop-filter: blur(0.15rem);
	transition: var(--time-transition);
	flex-direction: column;
}

.dark-filter-hover:hover:not(.project-selected) {
	background-color: var(--sec-color-300);
	backdrop-filter: blur(0rem);
}

.project-logo-container {
	display: flex;
	justify-content: right;
	gap: var(--space-logo);
}

.project-selected {
	background-color: var(--sec-color-400);
}

.grid-logo-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: fit-content;
	gap: var(--space-logo);
	margin-left: var(--space-logo);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--logo-bg);

	height: calc(var(--padding-logo));
	width: calc(var(--padding-logo));
	transition: var(--time-transition);
	box-shadow: var(--bg-logo);
}

.logo:hover {
	background-color: var(--logo-bg-hover);
}

.logo img {
	max-height: var(--logo-size);
	max-width: var(--logo-size);
}

#technology-description {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#technology-description a {
	text-decoration: underline;
}


#techno-section {
	display: grid;
	grid-template-columns: 4fr 1fr;
	align-items: center;
}

.left-part-techno {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

footer {
	background-color: var(--bg-color-project);
	text-align: center;
	padding: var(--space-footer);
}

/* PROJECT DETAIL */

.dark-filter-header {
	display: flex;
	flex-direction: column;
	height: 20vh;
}

.list-logo {
	display: flex;
	gap: var(--space-logo);
}

@media only screen and (max-width: 950px) {
	main {
		margin: 0;
	}

	#hero-header {
		flex-direction: column;
	}

	#hero-part-top {
		flex-direction: column;
	}

	#projects-container,
	#skill-container {
		display: flex;
		flex-direction: column;
	}

	.logo {
		height: calc(var(--padding-logo-mobile));
		width: calc(var(--padding-logo-mobile));
	}

	.logo img {
		max-height: var(--logo-size-mobile);
		max-width: var(--logo-size-mobile);
	}
}
